---
title: "Links"
---

{% extends "layouts/base.njk" %} 
{% block content %}
<h2>Personal stuff</h2>
<ul>
    <li><a href="https://www.linkedin.com/in/marcel-mehlmann-037426237/" target="_blank">LinkedIn</a></li>
    <li><a href="https://open.spotify.com/user/jx47" target="_blank">Spotify</a></li>
    <li>My email: marcel at thisdomain</li>
    <li>My matrix id: <a href="https://matrix.to/#/@mzumquadrat:nitro.chat" target="_blank">@mzumquadrat:nitro.chat</a></li> 
</ul>   
{% endblock %}