---
title: "Search"
---

{% extends "layouts/base.njk" %}
{% block head %}
<script src="/pagefind/pagefind-ui.js" async onload="new PagefindUI({ element: '#search', showImages: false });"></script>
{% endblock %}
{% block content %}
<h2>Search page</h2>
<div id="search" class="search"></div>
{% endblock %}