:root {

  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

@font-face {
    font-family: BerkeleyMono;
    src: url(/files/fonts/BerkeleyMono-Regular.woff2);
}
@font-face {
    font-family: BerkeleyMono;
    src: url(/files/fonts/BerkeleyMono-Bold.woff2);
    font-weight: bold;
}
@font-face {
    font-family: BerkeleyMono-Italic;
    src: url(/files/fonts/BerkeleyMono-Italic.woff2);
}

html {
    background-color: var(--nord6);
    font-family: BerkeleyMono;
    font-size: clamp(1rem, 0.5rem + 0.9vw, 2rem);
    color: var(--nord0);
    overflow-y: scroll;
}

main {
    width: 60vw;
    width: clamp(14rem, 60vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    position: relative;
}

a {
    color: var(--nord0);
    text-decoration-color: var(--nord10);
    text-decoration-thickness: 2px;
}

a:visited {
    text-decoration-color: var(--nord9);
}

header {
    font-family: BerkeleyMono;
    font-weight: bold;
}

nav > ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

li::marker {
    color: var(--nord15);
}

#postdate {
    font-family: BerkeleyMono-Italic;
    color: var(--nord2);
}

img, video, iframe {
    max-inline-size: 100%;
    display: inline-block;
    object-fit: contain;
}