<!DOCTYPE html>
{% set css %}
  {% include "css/main.css" %}
{% endset %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="title" content="{{ title }}">
        <meta name="description" content="My personal Website">
        <meta name="keywords" content="Webseite, contact, business card">
        <meta name="author" content="Marcel Mehlmann">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ favicon }}</text></svg>">
        <link rel="alternate" type="application/rss+xml" href="https://mzumquadrat.de/feed.xml"/>
        <title>{{ title }}</title>
        <style>
            {{ css | cssmin | safe }}
        </style>
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/files/js/htmx.min.js" async;"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <main>
            <header>
                <h1>{{ title }}</h1>
                <hr />
            </header>
            <nav>
                <ul>
                    {% for item in navigation.items %}
                        <li>
                            <a href="{{ item.url }}" target="_{{ item.target }}" rel="{% if item.target === "blank" %}noopener{% endif %} {% if item.rel %}{{ item.rel }}{% endif %}">{{ item.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <hr />
            <article>
                <section data-pagefind-body>
                    {% block content %}
                    {% endblock %}
                </section>
            </article>
            <hr />
            <footer>
                <p xmlns:cc="http://creativecommons.org/ns#" >This website by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="/">Marcel Mehlmann</a> is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license noopener noreferrer">CC BY-SA 4.0</a>
                </p>
                <p>
                    <!--<a href="/pages/impressum/">Imprint</a> <a href="/pages/contact/">Contact</a>-->
                </p>
            </footer>
        </main>
    </body>
</html>
