{% extends "layouts/base.njk" %} 
{% block content %}
    {{ content | safe }}

<h2>I sometimes try to write about stuff:</h2>
{% if collections.posts | length > 0 %}
    <ul>
        {% for post in collections.posts | reverse %}
            <li>{{ post.data.date | readableDate }} <a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nothing here yet</p>
{% endif %}
<a style="display: none;" rel="me" href="https://mas.to/@mzumquadrat"></a>
{% endblock %}

